.Price {
  font-weight: bold;
  text-align: right;
  margin-right: 10px;
  font-size: 18px;
}
.card > .content > .description {
  font-weight: bold;
  text-align: right;
  margin-right: 10px;
  font-size: 18px;
}
#ProductsImage > img {
  width: 300px;
  height: 200px;
}
