.admin {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  padding-top: 30px;
}
#addProductForm {
  display: flex important;
  text-align: center;
  justify-content: center;
  width: 400px;
  margin-left: 25px;
  margin-top: 25px;
}
#addProduct {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
}
#productPhoto {
  display: flex;
  text-align: center;
  justify-content: center;
}
#priceText {
  height: 39px;
  margin-top: 22px;
}
