.admin {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  padding-top: 30px;
}
#addProductForm {
  display: flex important;
  text-align: center;
  justify-content: center;
  width: 400px;
  margin-left: 25px;
  margin-top: 25px;
}
#addProduct {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
}
#productPhoto {
  display: flex;
  text-align: center;
  justify-content: center;
}
#productPhoto > input {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}
#productPhoto > span {
  position: block;
  color: white;
  background-color: rgb(61, 58, 58);
  font-weight: 900;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 6px 6px 9px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.priceText {
  height: 30px;
}
#priceGroup {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
#updateBtn {
  background-color: #c9560a;
  color: white;
}
