.cntr {
  margin-top: 50px;
  background-color: #333;
  width: 500px;
  border-radius: 30px;
  padding: 20px;
}
.rgstr {
  color: white;
  font-weight: lighter;
}
.rgstr > a {
  color: wheat;
  font-weight: bold;
}
